@import '../global/variables.css';

.p-faq {
  background: url('/public/images/faq-bg.jpg') no-repeat center center / cover;
  container-type: inline-size;
  padding-block: 60px;
  @media (--md) {
    padding-block: 120px 70px;
  }
}
.p-faq__items {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 20px;
  max-width: 893px;
  margin-inline: auto;
  width: 100%;
  @container (min-width: 893px) {
    width: 63.78%;
  }
}
.p-faq__heading-title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 36);
  text-align: center;
  letter-spacing: 0.27em;
}
