@import '../global/variables.css';

.p-nav {
  background-color: var(--color-bg);
  padding-block: 40px 63px;
  container-type: inline-size;
  media(--md) {
    padding-block: 35px 38px;
  }
}
.p-nav__list {
  display: grid;
  gap: 10px;
  width: min(100%, 820px);
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  @container (min-width: 580px) {
    gap: 20px;
  }
}

.p-nav__item {
  width: min(100%, 620px);
  margin-inline: auto;
  container-type: inline-size;
}

.p-nav__link {
  display: grid;
  grid-template-columns: 108fr 227fr;
  background-color: var(--color-white);
  border-radius: var(--spacing-sm);
  height: 100%;
  @container (min-width:321px) {
    grid-template-columns: 80fr 180fr;
  }
}

.p-nav-link__image {
  aspect-ratio: 80/87;
  @container (min-width: 400px) {
    aspect-ratio: 108/70;
  }
  img {
    height: 100%;
  }
}

.p-nav-link__text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 16px 8px;

  width: 100%;
  font-size: 15px;
  @container (min-width: 261px) {
    padding: 15px 20px;
  }
}

.p-nav-link__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(15, 16);
}
.p-nav-link__arrow {
  background-color: var(--color-main);
  height: 24px;
  aspect-ratio: 1/1;
  color: var(--color-white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  @container (min-width: 261px) {
    height: 20px;
  }
}
