@import '../global/variables.css';

.p-noshi {
}

.p-noshi-header__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 36);
  text-align: center;
  letter-spacing: 0.04em;
}
.p-noshi-header__description {
  font-weight: var(--fw-semibold);
  font-size: fz(14, 16);
  text-align: center;
  span {
    color: red;
    text-decoration: underline;
  }
}

.p-noshi__cases {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  max-width: 836px;
  margin-inline: auto;
}
.p-noshi-case {
  background-color: #f6f5f2;
  padding: 16px 19px;
  display: grid;
  row-gap: 14px;
  border-radius: 12px;
  @media (--md) {
    grid-template-columns: 316fr 204fr;
    align-items: center;
    justify-content: space-between;
    padding-inline: 86px;
  }
}
.p-noshi-case__heading {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  max-width: 316px;
  @media (--md) {
    row-gap: 15px;
  }
}
.p-noshi-case__title {
  background-color: var(--color-sub3);
  border-radius: 100px;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.04em;
}

.p-noshi__close {
  background-color: var(--color-sub);
}
.p-noshi__close-button {
  background-color: var(--color-sub);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
