@import '../global/variables.css';

.p-noshi {
  padding-block-start: 40px;
  @media (--md) {
    padding-block-start: 57px;
  }
}
.p-noshi__title-img {
  width: 43.46vw;
  margin-inline: auto;
  max-width: 210px;
}
.p-noshi-header__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 36);
  text-align: center;
  letter-spacing: 0.04em;
}
.p-noshi-header__description {
  font-weight: var(--fw-semibold);
  font-size: fz(14, 16);
  text-align: center;
  span {
    color: red;
    text-decoration: underline;
  }
}

.p-noshi__cases {
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  max-width: 836px;
  margin-inline: auto;
}
.p-noshi-case {
  background-color: #f6f5f2;
  padding: 16px 19px;
  display: grid;
  row-gap: 14px;
  border-radius: 12px;
  justify-items: center;
  @media (--md) {
    grid-template-columns: 316fr 204fr;
    align-items: center;
    justify-content: space-between;
    padding-inline: 86px;
  }
}
.p-noshi-case__heading {
  display: grid;
  grid-template-rows: repeat(2, auto);
  row-gap: 10px;
  max-width: 316px;
  @media (--md) {
    row-gap: 15px;
  }
}
.p-noshi-case__title {
  background-color: var(--color-sub3);
  border-radius: 100px;
  color: var(--color-white);
  text-align: center;
  letter-spacing: 0.04em;
}

.p-noshi-case__img {
  width: calc(180 / 375 * 100vw);
  max-width: 205px;
}
.p-noshi__close {
  background-color: var(--color-sub);
  margin-inline: auto;
  max-width: 233px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-block-start: 20px;
  @media (--md) {
    margin-block-start: 30px;
  }
}
.p-noshi__close-text {
  color: var(--color-white);
  font-weight: var(--fw-semibold);
  font-family: var(--font-jp--sanserif);
  letter-spacing: 0.04em;
  line-height: 36px;
}
.p-noshi__close-button {
  position: absolute;
  border-radius: 50%;
  width: 18px;
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  right: 13px;
  background-color: var(--color-white);
  img {
    height: 100%;
    object-fit: cover;
  }
}
