.p-ranking {
  background: url('/public/images/wave-bg.jpg') no-repeat center center / cover;
  padding-block: 40px 75px;
  position: relative;
  @media (--md) {
    padding-block: 80px 151px;
  }
}
.p-ranking__deco-wrapper {
  position: relative;
  height: 66px;
  width: 100%;
  margin-inline: auto;
  @media (--md) {
    height: 70px;
  }
  .p-raking__deco-1 {
    position: absolute;
    max-width: 56px;
    left: 13%;
    top: 22%;
    @media (--md) {
      top: 0;
      left: 34%;
      max-width: revert;
    }
  }
  .p-raking__deco-2 {
    position: absolute;
    top: 0;
    right: 12%;
    max-width: 61px;
  }
  .p-raking__deco-3 {
    position: absolute;
    bottom: -5%;
    left: -21%;
    max-width: 61px;
    @media (--md) {
      bottom: 4%;
      left: 19%;
      max-width: revert;
    }
  }
  .p-raking__deco-4 {
    position: absolute;
    bottom: -4%;
    right: -33%;
    @media (--md) {
      bottom: -5%;
      right: 14%;
    }
  }
  .p-raking__deco-5 {
    position: absolute;
    bottom: 13%;
    left: 50%;
    width: 100%;
    max-width: 156px;
    transform: translateX(-50%);
    @media (--md) {
      bottom: 0;
    }
  }
}
.p-ranking__heading {
  width: calc(220 / 375 * 100vw);
  margin-inline: auto;
  @media (--md) {
    width: calc(686 / 1440 * 100vw);
    max-width: 686px;
  }
}

.p-ranking__title-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-template-rows: repeat(2, auto);
  img:nth-child(3) {
    width: 82%;
    @media (--md) {
      width: 100%;
    }
  }
  @media (--md) {
    grid-template-columns: 413fr 260fr;
    margin-block-start: 24px;
    align-items: center;
    column-gap: 14px;
  }
}
.p-ranking__title-img--wrapper {
  width: 100%;
  &._1 {
    max-width: 413px;
  }
  &._2 {
    max-width: 260px;
  }
}

.p-ranking__carousel {
  margin-block-start: 30px;
}

.p-ranking__gold-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15px;
  @media (--md) {
    height: 30px;
  }
}
