@import '../global/variables.css';
.p-reviews__inner {
  container-type: inline-size;
  max-width: 980px;
  width: 100%;
  margin-inline: auto;
}
.p-reviews__heading {
  position: relative;
  &::before {
    content: '';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 16px solid var(--color-accent2);
    @media (--md) {
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 20px solid var(--color-accent2);
    }
  }
}
.p-reviews__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-accent2);
  border-radius: 8px;
  padding-block: 14px;
  font-size: fz(24, 30);
  letter-spacing: 0.19em;
  line-height: 1;
  @media (--md) {
    padding-block: 16px;
  }
}
.p-reviews__heading-ashirai {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  width: 35px;
  z-index: 1;
  aspect-ratio: 35/17;
  overflow: hidden;
}
.p-reviews__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-block-start: 28px;
  @container (min-width: 580px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-block-start: 40px;
    gap: 25px;
  }
}

.p-reviews__item {
  background-color: var(--color-sub);
  border-radius: 12px;
  padding-block-start: 7px;
  border: 1px solid var(--color-sub);
}
.p-reviews__item-inner {
  background-color: var(--color-white);
  border-radius: 0 0 12px 12px;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: 1fr;
  height: 100%;
}
.p-reviews__item-text {
  padding-block-start: 20px;
  padding-inline: 16px;
  font-size: 14px;
  letter-spacing: 0.04em;
}
.p-reviews__user {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  gap: 10px;
  padding-block-end: 20px;
  padding-inline: 16px;
}
.p-reviews__user-age {
  font-size: fz(14, 16);
  color: var(--color-sub);
  font-weight: var(--fw-medium);
  font-family: var(--font-jp--serif);
}

.p-reviews__user-image {
  max-width: 60px;
  aspect-ratio: 1/1;
  @media (--md) {
    max-width: 80px;
  }
}
