@import '../global/variables.css';

.p-reasons {
  background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/yearend-gift/images/wave-bg.jpg')
    no-repeat center center / cover;
  padding-block: 60px 93px;
}

.p-reasons__carousel {
  margin-block-start: 60px;
  @media (--md) {
    margin-block-start: 86px;
  }
}

/* Splide カスタムスタイル */

.p-reasons .splide__pagination {
  bottom: -2rem;
}

.p-reasons .splide__pagination__page {
  opacity: 0.3;
  transition: opacity 0.3s ease;
  border: 1px solid #bf9c35;
}

.p-reasons .splide__pagination__page.is-active {
  background: #bf9c35;
  opacity: 1;
}
