@import '../global/variables.css';

.p-reasons {
}

.p-reasons__heading {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 36);
  text-align: center;
  display: inline-block;
  border-bottom: 1px dotted var(--color-sub);
}

.p-reasons__items {
}
