.p-sweets {
  background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/yearend-gift/images/sweets-bg.jpg') no-repeat center center /
    cover;
  padding-block: 60px;
  @media (--md) {
    padding-block-end: 0;
  }
}

.p-sweets__assortments {
  padding-inline: 30px;
  padding-block: 60px;
  .c-section-title {
    margin-inline-start: calc(50% - 50vw);
    margin-inline-end: calc(50% - 50vw);
    @media (--md) {
      margin-inline: auto;
    }
  }
}

.p-sweets__assortments-cards {
  margin-block-start: 50px;
  @media (--md) {
    margin-block-start: 80px;
  }
}

.p-sweets__other {
  background-color: var(--color-white);
  padding-inline: 30px;
  padding-block: 60px;
  position: relative;
  @media (--md) {
    width: 100vw;
    margin-inline-start: calc(50% - 50vw);
    margin-inline-end: calc(50% - 50vw);
    padding-block-end: 120px;
  }
}
.p-sweets__other-cards {
  margin-block-start: 50px;
  @media (--md) {
    margin-block-start: 67px;
  }
}
.p-sweets__gold-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: none;
  @media (--md) {
    height: 30px;
    display: block;
    img {
      height: 100%;
    }
  }
}

.p-sweets__feature {
  padding-block: 35px 80px;
}

.p-sweets__feature-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 62px;
}

.p-sweets__feature__img-wrapper {
  @media (--lg) {
    position: relative;
  }
}

.p-sweets__feature__img {
  max-width: 835px;
  margin-inline: auto;
}
.p-sweets__feature__points-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  @media (--lg) {
    display: contents;
  }
}
