@import '../global/index.css';
.p-tips {
  padding-block-start: 60px;
  @media (--md) {
    padding-block-start: 100px;
  }
}
.p-tips__inner {
  background-color: var(--color-white);
  padding-block: 40px;
  padding-inline: 20px;
  @media (--md) {
    padding-block: 55px;
    padding-inline: 70px;
  }
}
.p-tips__heading {
  max-width: 412px;
  margin-inline: auto;
}
.p-tips__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 36);
  text-align: center;
  letter-spacing: 0.27em;
  line-height: 1;
}

.p-tips__heading-img--lower {
  padding-block-start: 15px;
}

.p-tips__list {
  margin-block-start: 36px;
  display: grid;
  gap: 20px;
  grid-template-rows: repeat(4, auto);
  @media (--md) {
    margin-block-start: 46px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 24px;
  }
}
