.p-wrapping {
  margin-block-start: 20px;
  padding-block-end: 60px;

  @media (--md) {
    margin-block-start: 40px;
    padding-block-end: 100px;
  }
}

.p-wrapping__inner {
  background-color: var(--color-white);
  padding-inline: 20px;
  padding-block: 40px;
  container-type: inline-size;
}

.p-wrapping-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: 290px;
  margin-inline: auto;
  @container (min-width: 620px) {
    max-width: 596px;
  }
}
.p-wrapping-header__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 32);
  text-align: center;
  color: var(--color-main);
  line-height: 1.3333;
  letter-spacing: 0.08em;
}
.p-wrapping-header__image-lower {
  padding-block-start: 18px;
  @media (--md) {
    padding-block-start: 13px;
  }
}
.p-wrapping__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 56px;
  container-type: inline-size;
  margin-block-start: 44px;
  max-width: 818px;
  margin-inline: auto;
  @media (--md) {
    margin-block-start: 36px;
  }
}
.p-wrapping-card {
  display: grid;
  grid-template-columns: 1fr;
  @container (min-width: 620px) {
    grid-template-columns: 414fr 74fr 330fr;
    grid-template-rows: repeat(2, auto);
  }
}
.p-wrapping-card__header {
  display: grid;
  grid-template-columns: 53fr 174fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  grid-column: 1/3;
  row-gap: 16px;
  column-gap: 8px;
  @container (min-width: 620px) {
    grid-column: 1/2;
    grid-row: 1/2;
    column-gap: 14px;
  }
}
.p-wrapping-card__title {
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-medium);
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.p-wrapping-card__title--small {
  display: block;
  font-size: 18px;
  line-height: 1.5555;
}
.p-wrapping-card__description {
  grid-column: 1/3;
  font-family: var(--font-jp--sanserif);
  letter-spacing: 0.04em;
  font-size: fz(14, 16);
}
.p-wrapping-card__image {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-block-start: 12px;
  @container (min-width: 620px) {
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
  }
}
.p-wrapping-card__link-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  grid-column: 1/3;
  grid-row: 3/4;
  margin-block-start: 20px;
  @container (min-width: 620px) {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 315px;
    margin-block-start: 18px;
  }
}
.p-wrapping-card__link {
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-semibold);
  background-color: var(--color-sub3);
  color: var(--color-white);
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  position: relative;
  &._noshi {
    background-color: var(--color-sub4);
  }
  &:hover {
    .p-wrapping-card__link-arrow {
      transform: translate(4px, -50%);
    }
  }
}
.p-wrapping-card__link-arrow {
  color: currentColor;
  background-color: var(--color-white);
  height: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.3s ease-in-out;
  overflow: hidden;
  position: absolute;
  right: 12px;
  top: 50%;
  transition: transform 0.3s ease-in-out;
  transform: translateY(-50%);

  &:before {
    display: inline-block;
    content: '';
    mask: url('/public/images/svg/chevron-right-1.svg') no-repeat center center /
      contain;
    transition: color 0.3s ease-in-out;
    background-color: var(--color-sub3);
    width: 100%;
    height: 100%;
  }
  .p-wrapping-card__link._noshi & {
    &:before {
      background-color: var(--color-sub4);
    }
  }
}
