.p-wrapping {
  margin-block-start: 20px;
  padding-block-end: 60px;
  z-index: 1;
  position: relative;
  @media (--md) {
    margin-block-start: 40px;
    padding-block-end: 100px;
  }
}

.p-wrapping__inner {
  background-color: var(--color-white);
  padding-inline: 20px;
  padding-block: 40px;
  container-type: inline-size;
}

.p-wrapping__header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  max-width: 290px;
  margin-inline: auto;
  @container (min-width: 620px) {
    max-width: 596px;
  }
}
.p-wrapping__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(24, 32);
  text-align: center;
  color: var(--color-main);
  line-height: 1.3333;
  letter-spacing: 0.08em;
}
.p-wrapping__header-image-lower {
  padding-block-start: 18px;
  @media (--md) {
    padding-block-start: 13px;
  }
}
.p-wrapping__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 56px;
  container-type: inline-size;
  margin-block-start: 44px;
  max-width: 818px;
  margin-inline: auto;
  @media (--md) {
    margin-block-start: 36px;
  }
}
.p-wrapping__card {
  display: grid;
  grid-template-columns: 1fr;
  @container (min-width: 620px) {
    grid-template-columns: 414fr 74fr 330fr;
    grid-template-rows: repeat(2, auto);
  }
}
.p-wrapping__card-header {
  display: grid;
  grid-template-columns: 53fr 174fr;
  grid-template-rows: repeat(2, auto);
  align-items: center;
  grid-column: 1/3;
  row-gap: 16px;
  column-gap: 8px;
  @container (min-width: 620px) {
    grid-column: 1/2;
    grid-row: 1/2;
    column-gap: 14px;
  }
}
.p-wrapping__card-title {
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-medium);
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.p-wrapping__card-title--small {
  display: block;
  font-size: 18px;
  line-height: 1.5555;
}
.p-wrapping__card-description {
  grid-column: 1/3;
  font-family: var(--font-jp--sanserif);
  letter-spacing: 0.04em;
  font-size: fz(14, 16);
}
.p-wrapping__card-image {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-block-start: 12px;
  aspect-ratio: 294/156;
  @container (min-width: 620px) {
    grid-column: 3/4;
    grid-row: 1/3;
    align-self: center;
    aspect-ratio: 330/226;
  }
}
.p-wrapping__card-link-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  grid-column: 1/3;
  grid-row: 3/4;
  margin-block-start: 20px;
  @container (min-width: 620px) {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 315px;
    margin-block-start: 18px;
  }
}
.p-wrapping__card-link {
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-semibold);
  background-color: var(--color-sub3);
  color: var(--color-white) !important;
  letter-spacing: 0.04em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 15px;
  position: relative;
  &._noshi {
    background-color: var(--color-sub4);
  }
  &:hover {
    .p-wrapping__card-link-arrow {
      transform: translate(4px, -50%);
    }
  }
}
.p-wrapping__card-link-arrow {
  color: currentColor;
  background-color: var(--color-white);
  height: 18px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  overflow: hidden;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  &:before {
    display: inline-block;
    content: '';
    mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 17'><path fill-rule='evenodd' clip-rule='evenodd' d='M7.19466 9.00362L3.18762 13.0107L2.18604 12.0091L5.69229 8.50283L2.18604 4.99658L3.18762 3.995L7.19466 8.00204C7.32745 8.13487 7.40205 8.315 7.40205 8.50283C7.40205 8.69065 7.32745 8.87079 7.19466 9.00362Z' fill='currentColor'/></svg>")
      no-repeat center / contain;
    -webkit-mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 17'><path fill-rule='evenodd' clip-rule='evenodd' d='M7.19466 9.00362L3.18762 13.0107L2.18604 12.0091L5.69229 8.50283L2.18604 4.99658L3.18762 3.995L7.19466 8.00204C7.32745 8.13487 7.40205 8.315 7.40205 8.50283C7.40205 8.69065 7.32745 8.87079 7.19466 9.00362Z' fill='currentColor'/></svg>")
      no-repeat center / contain;
    transition: color 0.3s ease-in-out;
    background-color: var(--color-sub3);
    width: 100%;
    height: 100%;
  }
  .p-wrapping__card-link._noshi & {
    &:before {
      background-color: var(--color-sub4);
    }
  }
}
