.c-faq-item {
}

.c-faq-item__heading {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #d4b987;
  height: 70px;
  padding-inline: 12px 20px;
}

.c-faq-item__title {
  font-family: var(--font-jp--serif);
  font-weight: var(--fw-semibold);
  font-size: fz(15, 16);
  color: var(--color-main);
}

.c-faq-item__content {
  background-color: var(--color-white);
  font-family: var(--font-jp--serif);
  padding: 20px;
}
