.c-ranking-card {
  max-width: 350px;
  @container (min-width: 920px) {
    min-height: 494px;
  }
}

.c-ranking-card__frame {
  background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/yearend-gift/images/svg/ranking_bg--sp.svg')
    no-repeat center center / contain;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 180px auto auto auto;
  aspect-ratio: 335 / 384;
  padding-block-start: 42px;
  padding-inline: 32px;
  margin-block-start: 34px;
  @media (--md) {
    background: url('https://gigaplus.makeshop.jp/morihan1836/feature-page/yearend-gift/images/svg/ranking_bg.svg')
      no-repeat center center / contain;
    aspect-ratio: 349 / 452;
  }
  &._02 {
    grid-template-rows: 206px auto auto auto;
    @media (--md) {
      grid-template-rows: 247px auto auto auto;
    }
  }
  @media (--md) {
    grid-template-rows: 206px auto auto auto;
  }
}
.c-ranking-card__tag {
  position: absolute;
  top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  aspect-ratio: 130/73;
  max-width: 130px;
  &._side {
    left: 50px;
    top: -10px;

    transform: unset;
    aspect-ratio: 1/1;
    max-width: 95px;
    @media (--md) {
      top: -10px;
    }
  }
}
.c-ranking-card__image {
  margin-inline: auto;
  img {
    height: 100%;
    max-height: 100%;
    width: auto;
  }
}
.c-ranking-card__title {
  font-weight: var(--fw-semibold);
  font-size: fz(18, 22);
  text-align: center;
}
.c-ranking-card__line {
  margin-block-start: 8px;
  @media (--md) {
    margin-block-start: 16px;
  }
}
.c-ranking-card__price {
  padding-block-end: 32px;
  text-align: center;
  font-family: var(--font-en);
  font-weight: var(--fw-regular);
  font-size: 36px;
  color: var(--color-deep-beige);
  letter-spacing: 0.05em;
}

.c-ranking-card__price-amount {
  font-size: 14px;
  font-weight: var(--fw-regular);
  font-family: var(--font-jp--serif);
  color: var(--color-sub);
  &._tax {
    display: inline-block;
    padding-inline-start: 4px;
  }
}
