@import '../global/variables.css';

.c-tips-item {
  color: #1a1a1a;
  display: grid;
  @media (--md) {
    grid-template-rows: auto 1fr;
  }
}
.c-tips-item__heading {
  background-color: var(--color-sub3);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  @media (--md) {
    position: relative;
    height: 46px;
  }
  &._pink {
    background-color: #f2b9bb;
  }
  &._orange {
    background-color: #f2c5b5;
  }
  &._yellow {
    background-color: #f7e19f;
  }
  &._green {
    background-color: #c7e6b3;
  }
}
.c-tips-item__title--pc {
  display: none;
  @media (--md) {
    display: block;
    text-align: center;
    font-family: var(--font-jp--sanserif);
    font-weight: var(--fw-semibold);
  }
}

.c-tips-item__title {
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-semibold);
  font-size: fz(20, 22);
  text-align: center;
  letter-spacing: 0.04em;
  padding-block: 9px;
  span {
    position: relative;
  }
  @media (--md) {
    display: none;
  }
}
.c-tips-item__heading-img--pc {
  display: none;
  @media (--md) {
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}

.c-tips-item__heading-img {
  position: absolute;
  top: -50%;
  left: -50px;
  width: 50px;
  height: 50px;
  z-index: 1;
  @media (--md) {
    display: none;
  }
  img {
    height: 100%;
  }
}

.c-tips-item__content {
  padding-inline: 20px;
  padding-block: 18px 20px;
  background-color: #f6f5f2;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  @media (--md) {
    padding-inline: 30px;
    padding-block: 20px 40px;
  }
}
.c-tips-item__description {
  font-family: var(--font-jp--sanserif);
  font-weight: var(--fw-medium);
  font-size: fz(14, 15);
  line-height: 1.8;
  @media (--md) {
    margin-block-start: 13px;
  }
}
