---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import Nav from '../sections/Nav.astro';
import Ranking from '../sections/Ranking.astro';
import Tips from '../sections/Tips.astro';
import Wrapping from '../sections/Wrapping.astro';
import Reasons from '../sections/Reasons.astro';
import Price from '../sections/Price.astro';
import Sweets from '../sections/Sweets.astro';
import Faq from '../sections/Faq.astro';
import Footer from '../layouts/Footer.astro';
---

<Layout title='森半のお歳暮'>
  <Hero />
  <Nav />
  <Ranking />
  <div class='p-tips__bg'>
  <Tips />
  <Wrapping />
  </div>
  <Reasons />
  <Price />
  <Sweets />
  <Faq />
  <Footer />
</Layout>
