---
const {title, description, index} = Astro.props;
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---
<details open={index === 1} class='c-faq-item'>
  <summary class='c-faq-item__heading'>
    <span class='c-faq-item__number'>Q</span>
    <h3 class='c-faq-item__title'>{title}</h3>
    <span class='c-faq-item__button'>
      <img src={`${imgBase}/svg/Vector.svg`} alt='faq-arrow'>
    </span>
  </summary>
  <div class='c-faq-item__content'>
    <span class='c-faq-item__number'>A</span>
    <p class='c-faq-item__description'>{description}</p>
  </div>
</details>
