---
import { Image } from 'astro:assets';
const { index, titleJa, titleEn, image } = Astro.props;
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<header class='c-feature-item-header'>
  <div class='c-feature-item-header__image'>
    <Image src={image} alt='' loading='lazy' decoding='async' widths={[78,117,156]} width='78' height='78'/>
  </div>
  <div class={`c-feature-item-header__title-wrapper _${index}`}>
    <h3 class='c-feature-item-header__title'>{titleJa}</h3>
    {titleEn}
  </div>
</header>
