---
import FaqItem from '../components/FaqItem.astro';
import { faqItemData } from '../data/faqItemData';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;

---

<section class='p-faq'>
  <div class='l-container'>
    <div class='p-faq__heading'>
      <h2 class='p-faq__heading-title'>よくある質問</h2>
    </div>
    <div class='p-faq__items'>
      {
        faqItemData.map((item) => (
          <FaqItem title={item.title} description={item.description} />
        ))
      }
    </div>
  </div>

</section>

