---
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---
<section class="p-hero">
    <h1 class="c-site-title visually-hidden">
            森半のお歳暮
    </h1>
    <picture class="p-hero__img">
        <source srcset={`${imgBase}FV_pc.jpg`} media="(min-width: 751px)">
        <img src={`${imgBase}FV_sp.jpg`} alt="森半のお歳暮ギフトのメインビジュアル。早期割引キャンペーン中。">
    </picture>
</section>
