---
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<header class='p-hero' role='banner' aria-labelledby='hero-heading'>
  <h1 id='hero-heading' class='c-site-title visually-hidden'>森半のお歳暮</h1>
  <picture class='p-hero__img'>
    <source
      srcset={`${imgBase}FV_pc.jpg`}
      media='(min-width: 751px)'
    />
    <img
      src={`${imgBase}FV_sp.jpg`}
      alt='森半のお歳暮ギフトのメインビジュアル。'
      loading='eager'
      fetchpriority='high'
      decoding='async'
      width='750'
      height='750'
    />
  </picture>
</header>
