---
import { Image } from 'astro:assets';
import PriceBlock from '../blocks/PriceBlock.astro';
import SectionTitle from '../components/SectionTitle.astro';
const priceNav1Image =import('/src/assets/images/price-nav_01.jpg');
const priceNav2Image =import('/src/assets/images/price-nav_02.jpg');
const priceNav3Image =import('/src/assets/images/price-nav_03.jpg');
const priceNav4Image =import('/src/assets/images/price-nav_04.jpg');
---

<section id='price-section' class='p-price' aria-labelledby='price-title'>
  <div class='l-container'>
    <div class='l-inner'>
      <header class='p-price__heading'>
        <SectionTitle id='price-title' title='価格で選ぶ' colorClass='_white' />
        <p class='p-price__description'>
          低価格から高級ギフトまで価格別におすすめの<br class='is_sm' />
          お歳暮・冬ギフトをご用意しています。
        </p>
      </header>
      <nav class='p-price__nav'>
        <ul class='p-price__nav-list'>
          <li class='p-price__nav-item'>
            <a href='#price-block-0' class='p-price__nav-link'>
              <div class='p-price__nav-image'>
                <Image
                  src={priceNav1Image}
                  alt=''
                  loading='lazy'
                  decoding='async'
                  widths={[160,240,320]}
                />
              </div>
              <div class='p-price__nav-link-text-wrapper'>
                <div class='p-price__nav-link-text'>
                  <span class='p-price__nav-small'>～</span>2,000<span
                    class='p-price__nav-small'>円</span
                  >
                </div>
              </div>
              <span class='p-price__nav-link-arrow' aria-hidden='true'></span>
            </a>
          </li>
          <li class='p-price__nav-item'>
            <a href='#price-block-1' class='p-price__nav-link'>
              <div class='p-price__nav-image'>
                <Image
                  src={priceNav2Image}
                  alt=''
                  loading='lazy'
                  decoding='async'
                  widths={[160,240,320]}
                />
              </div>
              <div class='p-price__nav-link-text-wrapper'>
                <div class='p-price__nav-link-text'>
                  2,001<span class='p-price__nav-small'>円～</span>4,000<span
                    class='p-price__nav-small'>円</span
                  >
                </div>
              </div>
              <span class='p-price__nav-link-arrow'></span>
            </a>
          </li>
          <li class='p-price__nav-item'>
            <a href='#price-block-2' class='p-price__nav-link'>
              <div class='p-price__nav-image'>
                <Image
                  src={priceNav3Image}
                  alt=''
                  loading='lazy'
                  decoding='async'
                  widths={[160,240,320]}
                />
              </div>
              <div class='p-price__nav-link-text-wrapper'>
                <div class='p-price__nav-link-text'>
                  4,001<span class='p-price__nav-small'>円～</span>6,000<span
                    class='p-price__nav-small'>円</span
                  >
                </div>
              </div>
              <span class='p-price__nav-link-arrow'></span>
            </a>
          </li>
          <li class='p-price__nav-item'>
            <a href='#price-block-3' class='p-price__nav-link'>
              <div class='p-price__nav-image'>
                <Image
                  src={priceNav4Image}
                  alt=''
                  loading='lazy'
                  decoding='async'
                  widths={[160,240,320]}
                />
              </div>
              <div class='p-price__nav-link-text-wrapper'>
                <div class='p-price__nav-link-text'>
                  6,001<span class='p-price__nav-small'>円～</span>
                </div>
              </div>
              <span class='p-price__nav-link-arrow'></span>
            </a>
          </li>
        </ul>
      </nav>
      <ul class='p-price__blocks'>
        <PriceBlock />
      </ul>
    </div>
  </div>
</section>
