---
import ReasonCard from '../components/ReasonCard.astro';
import { reasonsItemData } from '../data/reasonsItemData';
const imgBase = import.meta.env.PUBLIC_IMAGE_BASE;
---

<!-- Splide.js CDN -->
<link
  rel='stylesheet'
  href='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css'
/>
<script
  src='https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js'
></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const splide2 = new Splide('.splide2', {
      type: 'slide',
      perPage: 1,
      perMove: 1,
      gap: '40px',
      padding: { left: 170, right: 60 },
      breakpoints: {
        768: {
          perPage: 1,
          gap: '1rem',
          padding: '20px',
        },
      },
      arrows: true,
      pagination: true,
    });

    splide2.mount();
  });
</script>

<section class='p-reasons'>
  <h2 class='p-reasons__heading'>森半のギフトが<br />選ばれる理由</h2>
  <div class='splide splide2' role='group' aria-label='選ばれる理由'>
    <div class='splide__track'>
      <ul class='splide__list p-reasons__items'>
        {
          reasonsItemData.map((item) => (
            <ReasonCard
              index={item.index}
              title={item.title}
              description={item.description}
              imgBase={imgBase}
            />
          ))
        }
      </ul>
    </div>
  </div>
</section>
